<div id="search_wrapper">
<div id="search">
  <%= form_tag "/trips", :method => :get do%>
    <div class="field">
      <%= text_field_tag :start, 'Start' %>
    </div>
    <div class="field">
      <%= text_field_tag :stop, 'Stop' %>
    </div>
    <div class="field">
      <%= date_select :search, :date %>
    </div>
    <div class="field">
	  <%= select_tag :gender, options_for_select([ "Male", "Female" ], "Male") %> 

	</div>
    <div class="actions">
      <%= submit_tag 'Search' %>
    </div>
  <% end %>
</div>
</div>

<div id="btn btn-large">
	<%= button_to "Post a trip", :action => "new", :controller => "trips" %>
</div>

<div id="left_sidebar">
  <% unless user_signed_in? %>
    <div id="login">
      <%= render "devise/sessions/new" %>
    </div>
    <%= link_to "Sign up!", new_user_registration_path %>
  <% else %>
    <div id="user_profile">
      <%= render :partial => "user_profile", :locals => { :user => @user } %>
    </div>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% end %>
</div>

<% if @received_requests %>
  <div id="received_requests">
    <strong>Request Inbox</strong><br />
    <table>
      <%= render @received_requests %>
    </table>
  </div>
<% end %>
<% if @accepted_requests %>
  <div id="accepted_requests">
    <strong>Accepted Requests</strong><br />
    <table>
      <% @accepted_requests.each do |accepted_request| %>
        <%= render partial: "/requests/request_outbox", :locals => { :trip => Trip.find(accepted_request.trip_id), :requestee => accepted_request.requestee} %>
      <% end %>
    </table>
  </div>
<% end %>
<% if @rejected_requests %>
  <div id="rejected_requests">
    <strong>Rejected Requests</strong><br />
    <table>
      <% @rejected_requests.each do |rejected_request| %>
        <%= render partial: "/requests/request_outbox", :locals => { :trip => Trip.find(rejected_request.trip_id), :requestee => rejected_request.requestee} %>
      <% end %>
    </table>
  </div>
<% end %>
<% if @pending_requests %>
  <div id="pending_requests">
    <strong>Pending Requests</strong><br />
    <table>
      <% @pending_requests.each do |pending_request| %>
        <%= render partial: "/requests/request_outbox", :locals => { :trip => Trip.find(pending_request.trip_id), :requestee => pending_request.requestee} %>
      <% end %>
    </table>
  </div>
<% end %>