<div id="search">
  <%= form_tag "/trips", :method => :get do%>
    <div class="field">
      <%= text_field_tag :start, 'Start' %>
    </div>
    <div class="field">
      <%= text_field_tag :stop, 'Stop' %>
    </div>
    <div class="field">
      <%= date_select :search, :date %>
    </div>
    <div class="actions">
      <%= submit_tag 'Search' %>
    </div>
  <% end %>
</div>

<div id="btn btn-large">
	<%= button_to "Post a trip", :action => 'new', :controller => 'trips'%>
</div>

<div id="left_sidebar">
  <% unless user_signed_in? %>
    <div id="login">
      <%= render "devise/sessions/new" %>
    </div>
    <%= link_to "Sign up", new_user_registration_path %>
  <% else %>
    <div id="user_profile">
      <%= render :partial => "user_profile", :locals => { :user => @user } %>
    </div>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% end %>
</div>