<!DOCTYPE html>
<html>
<head>
  <title>CarQuester</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
  <div id="header">
    <div id="logo">
      <h1>CarQuester</h1>
    </div>
    <div id="nav">
      <%= link_to "Trips", trips_path %>
    </div>
  </div>
  <div id="main">
    <% unless notice.nil? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <%= yield %>
  </div>
</div>
</body>
</html>
