<!DOCTYPE html>
<html>
<head>
  <title>CaRomeo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
  <div id="header">
    <div id="logo">
      <%= link_to image_tag("caromeo_logo.png", id: "logo_img"), root_url %>
      <h1 id="logo_header"><%= link_to "CaRomeo", root_url %></h1>
      <h3>At worst you give a ride, at best you get a bride.</h3>
    </div>
    <div id="nav">
      <ul>
        <li>
          <%= link_to "Trips", trips_path %>
        </li>
        <% if user_signed_in? %>
        <li>
          <div id="btn btn-large">
	      <%= button_to "Post a trip", :action => "new", :controller => "trips" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="main">
    <div id="<%= controller.controller_name %>">
    <%= yield %>
    </div>
  </div>	
</div>
</body>
</html>
